.col-md-1 {
    width: 2%;
}

.wrapper{
    padding-left: 155px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.logo-style{
  width: 26%;
  position: relative;
  top: -10px;
}

.brand-style{
  right: 20px;
  position: absolute;
  top: 15px;
}

.navbar-default{
  background-color: #CBF3FF;
}

.body-style{
  position: absolute;
  left: 240px;
}


#group1Div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}

#group2Div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}

#group3Div {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
}

#group4Div {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
}



.group1{
    border-radius: 25px;
   background: #8AC007;
   /* background: #BAEB9D;*/
  width: 375px;
  height: 263px;
}
.group-icon{
    padding: 7px;
    text-decoration: underline;
    font-weight: bolder;
}



.group2{
    border-radius: 25px;
    background: #ff6666;
  width: 375px;
  height: 263px;
}

.group3{
    border-radius: 25px;
    background: skyblue;
  width: 375px;
  height: 263px;
  position: relative;
  bottom: -10px;
}

.group4{
    border-radius: 25px;
    background: #ffb3da;
  width: 375px;
  height: 263px;
  position: relative;
  bottom: -10px;
  /*background-image: url("../images/dental-logo.jpg");*/
  /*background-size: 50%;*/
}

.group-btn1{
    margin-top: 310px;
    width: 20%;
    margin-left: 640px;
    background-color: transparent;
    border-color: white;
}

.group-btn2{
    margin-top: 190px;
    width: 20%;
    margin-left: 640px;
    background-color: transparent;
    border-color: white;
}

.group-btn3{
    margin-top: 190px;
    width: 20%;
    margin-left: 640px;
    background-color: transparent;
    border-color: white;
}

.group-btn4{
  margin-top: 190px;
  width: 12%;
  margin-left: 930px;
  background-color: transparent;
  border-color: white;
}

.button{
  height: 100px;
  width: 160px;
  border-top: 30px solid #C66;
  border-bottom: 30px solid #6C6;
  border-left: 30px solid #66C;
  border-right: 30px solid #CC6;
}

.categorydd-style{
  position: absolute;
  top: -35px;
  left: 170px;
}

.categorybtn-style{
  background-color: transparent;
  border-color: black;
  color: black;
}

.dropdown1{
  left: -219px;
  top: 29px;
}

.dropdown2{
  left: -57px;
  top: 20px;
}

.DD-Style{
  top: 25px;
  position: relative;
  left: 55px;
}

.table-style{
  position: relative;
  top: 30px;
}


/*@media (min-width: 768px)*/
    .modal-sm {
        width: 447px !important;
    }