<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.7/angular-filter.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.0.11/ng-google-chart.js"
          type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../scripts/controllers/TestingController.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/TestingStyle.css">

</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 12px;">
<div ng-app="testingApp" ng-controller="testingController" class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="logo-style" src="../images/Cigna_Accenture_Logo.png">

        <p class="brand-style">Testing DashBoard</p>
      </a>
    </div>

  </nav>
  <div id="wrapper" ng-style="{'position': groupPosition, 'left': groupLeft, 'width': groupWidth}"
       class="row body-style">
    <div id="group1Div" ng-class="group1GridArea"
         ng-style="{'width': group1width, 'height': group1height, 'position':group1Position, 'top':group1Top, 'left':group1left}"
         class="group1" ng-click="showMoreGroup1()">
      <p align="center" style="cursor: pointer;text-align: center;" class="group-icon"
         ng-style="{'padding-left': group1paddingleft, 'padding-top': group1paddingtop}">{{ASGNames[0].groupName}}</p>

      <p ng-hide="OverallTestCase">Total Test Cases: {{RXHDnumberOfTestCases}} </p>

      <p ng-hide="OverallFullyAutomated">Automated: {{RXHDFullyAutomated}} </p>

      <p ng-hide="OverallPartiallyAutomated">Manual: {{RXHDPartiallyAutomated}}</p>

      <div class="row">
        <div class="col-md-3" ng-hide="RXHDApplication" ng-repeat="RXHDApplicationName in RXHDApplicationNames">
          <button class="button" ng-click="RXHDApplication1(RXHDApplicationName.Application)">
            {{RXHDApplicationName.Application}}
          </button>
        </div>
      </div>


      <div class="row DD-Style">
        <p ng-hide="RXHDApplicationDD" class="col-md-3"> Business Capability :

        <div class="dropdown dropdown1 col-md-3" ng-hide="RXHDApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" style="width: 180px;" ng-model="selectedItem"
                  ng-change="RXHDBussiness(selectedItem)"
                  ng-options="RXHDBusinessCapability for RXHDBusinessCapability in RXHDBusinessCapabilitys"
                  value="{{RXHDBusinessCapability}}">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>

        <p ng-hide="RXHDApplicationDD" class="col-md-3" style="position: relative;left: 200px;top: -9px;"> Functionality
          :

        <div class="dropdown dropdown2 col-md-3" ng-hide="RXHDApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" ng-model="selectedItem"
                  ng-change="RXHDFunctionality(selectedItem)"
                  ng-options="RXHDFunctionality for RXHDFunctionality in RXHDFunctionalitys"
                  value="{{RXHDFunctionality}}" style="width: 180px;">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>
      </div>
      <table class="table table-bordered table-style"  ng-hide="TestCase">
        <thead>
        <tr>
          <th>Application</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedApplication}}</td>
          <td>{{ApplicationNumberOfTestCases}}</td>
          <td>{{ApplicationFullyAutomated}}</td>
          <td>{{ApplicationPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style"   ng-hide="TestCase1">
        <thead>
        <tr>
          <th>Application/Business Capability</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedApplication}}/{{selectedBusiness}}</td>
          <td>{{BussinessNumberOfTestCases}}</td>
          <td>{{BussinessFullyAutomated}}</td>
          <td>{{BussinessPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style" ng-hide="TestCase2">
        <thead>
        <tr>
          <th>Application/Business Capability/Functionality</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedApplication}}/{{selectedBusiness}}/{{selectedFunctionality}}</td>
          <td>{{FunctionalityNumberOfTestCases}}</td>
          <td>{{FunctionalityFullyAutomated}}</td>
          <td>{{FunctionalityPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <!--<p ng-hide="TestCase">{{selectedApplication}} Test Cases: {{NumberOfTestCases}} </p>-->

      <!--<p ng-hide="Fully">{{selectedApplication}} Fully Automated Test Cases: {{FullyAutomated}} </p>-->

      <!--<p ng-hide="Partially">{{selectedApplication}} Partially Automated Test Cases: {{PartiallyAutomated}}</p>-->

      <!--<p ng-hide="TestCase1">Application({{selectedApplication}}) - Business Capability({{selectedBusiness}}) Test Cases: {{NumberOfTestCases}} </p>-->

      <!--<p ng-hide="Fully1">Application({{selectedApplication}}) - Business Capability({{selectedBusiness}}) Fully Automated Test Cases: {{FullyAutomated}} </p>-->

      <!--<p ng-hide="Partially1">Application({{selectedApplication}}) - Business Capability({{selectedBusiness}}) Partially Automated Test Cases: {{PartiallyAutomated}}</p>-->


      <div ng-hide="RXHDApplication" data-toggle="modal" data-target="#RXHDAppModal" style="position: absolute;bottom: 22px;left: 379px;">
        <img src="../images/chart.jpg" title="View Chart" style="width: 50px;border-radius:50px">
        <a href="" style="font-weight: bold;color: black;" >Chart Show</a></div>




    </div>
    <div class="modal fade" id="RXHDAppModal" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           <p><b>RX-HD Testing Chart View</b></p>
          </div>
          <div class="modal-body" style="width: 100%;height: 230px;" >
            <div  style="background-color:gainsboro; border-radius:5px;width: 100%;float: left;" >

              <table style="margin-left: 10px;">
                <tr><td width="400px">
                  <div ng-hide="RXHDApplication" google-chart chart="RxHDChartObject"
                  ></div></td></tr>
              </table>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-1"></div>
    <div id="group2Div" ng-class="group2GridArea"
         ng-style="{'width': group2width, 'height': group2height, 'position':group1Position, 'top':group1Top, 'left':group2left}"
         class="group2" ng-click="showMoreGroup2()">
      <p align="center" class="group-icon"
         ng-style="{'padding-left': group2paddingleft, 'padding-top': group2paddingtop}">{{ASGNames[1].groupName}}</p>

      <p ng-hide="OverallTestCase">Total Test Cases: {{RXCorenumberOfTestCases}} </p>

      <p ng-hide="OverallFullyAutomated">Automated: {{RXCoreFullyAutomated}} </p>

      <p ng-hide="OverallPartiallyAutomated">Manual: {{RXCorePartiallyAutomated}}</p>

      <div class="row">
        <div class="col-md-3" ng-hide="RXCoreApplication" ng-repeat="RXCoreApplicationName in RXCoreApplicationNames">
          <button class="button" ng-click="RXCoreApplication1(RXCoreApplicationName.Application)">
            {{RXCoreApplicationName.Application}}
          </button>
        </div>
      </div>

      <div class="row DD-Style">

        <p ng-hide="RXCoreApplicationDD" class="col-md-3"> Business Capability :

        <div class="dropdown dropdown1 col-md-3" ng-hide="RXCoreApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" ng-model="selectedItem"
                  ng-change="RXCoreBussiness(selectedItem)"
                  ng-options="RXCoreBusinessCapability for RXCoreBusinessCapability in RXCoreBusinessCapabilitys"
                  value="{{RXCoreBusinessCapability}}">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>
        <p ng-hide="RXCoreApplicationDD" class="col-md-3" style="position: relative;left: 200px;top: -9px;">
          Functionality :

        <div class="dropdown dropdown2 col-md-3" ng-hide="RXCoreApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" ng-model="selectedItem"
                  ng-change="RXCoreFunctionality(selectedItem)"
                  ng-options="RXCoreFunctionality for RXCoreFunctionality in RXCoreFunctionalitys"
                  value="{{RXCoreFunctionality}}">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>
      </div>


      <table class="table table-bordered table-style" ng-hide="RXCoreTestCase">
        <thead>
        <tr>
          <th>Application</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedRXCoreApplication}}</td>
          <td>{{RXCoreApplicationNumberOfTestCases}}</td>
          <td>{{RXCoreApplicationFullyAutomated}}</td>
          <td>{{RXCoreApplicationPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style" ng-hide="RXCoreTestCase1">
        <thead>
        <tr>
          <th>Application/Business Capability</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedRXCoreApplication}}/{{selectedRXCoreBusiness}}</td>
          <td>{{RXCoreBussinessNumberOfTestCases}}</td>
          <td>{{RXCoreBussinessFullyAutomated}}</td>
          <td>{{RXCoreBussinessPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style" ng-hide="RXCoreTestCase2">
        <thead>
        <tr>
          <th>Application/Business Capability/Functionality</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedRXCoreApplication}}/{{selectedRXCoreBusiness}}/{{selectedRXCoreFunctionality}}</td>
          <td>{{RXCoreFunctionalityNumberOfTestCases}}</td>
          <td>{{RXCoreFunctionalityFullyAutomated}}</td>
          <td>{{RXCoreFunctionalityPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

     <div ng-hide="RXCoreApplication" data-toggle="modal" data-target="#RXCoreAppModal" style="position: absolute;bottom: 9px;right: 352px;">
      <img src="../images/chart.jpg" title="View Chart" style="width: 50px;border-radius:50px">
     <a href="" style="font-weight: bold;color: black;">Chart Show</a></div>


    </div>


    <div class="modal fade" id="RXCoreAppModal" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p><b>RXCore Testing Chart View</b></p>
          </div>
          <div class="modal-body" style="width: 100%;height: 230px;" >
            <div  style="background-color:gainsboro; border-radius:5px;width: 100%;float: left;" >

              <table style="margin-left: 10px;">
                <tr><td width="400px">
                  <div ng-hide="RXCoreApplication" google-chart chart="RxCoreChartObject" style="width: 500px;"
                  ></div></td></tr>
              </table>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    <div id="group3Div" ng-class="group3GridArea"
         ng-style="{'width': group3width, 'height': group3height, 'position':group3Position, 'right': group3Right, 'top':group3Top, 'left':group3left}"
         class="group3" ng-click="showMoreGroup3()">
      <p align="center" class="group-icon"
         ng-style="{'padding-left': group3paddingleft, 'padding-top': group3paddingtop}">{{ASGNames[2].groupName}}</p>

      <p ng-hide="OverallTestCase">Total Test Cases: {{GroupnumberOfTestCases}} </p>

      <p ng-hide="OverallFullyAutomated">Automated: {{GroupFullyAutomated}} </p>

      <p ng-hide="OverallPartiallyAutomated">Manual: {{GroupPartiallyAutomated}}</p>

      <div class="row">
        <div class="col-md-3" ng-hide="GroupApplication" ng-repeat="GroupApplicationName in GroupApplicationNames">
          <button class="button" ng-click="GroupApplication1(GroupApplicationName.Application)">
            {{GroupApplicationName.Application}}
          </button>
        </div>
      </div>

      <div class="row DD-Style">

        <p ng-hide="GroupApplicationDD" class="col-md-3"> Business Capability :

        <div class="dropdown dropdown1 col-md-3" ng-hide="GroupApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" ng-model="selectedItem"
                  ng-change="GroupBussiness(selectedItem)"
                  ng-options="GroupBusinessCapability for GroupBusinessCapability in GroupBusinessCapabilitys"
                  value="{{GroupBusinessCapability}}">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>
        <p ng-hide="GroupApplicationDD" class="col-md-3" style="position: relative;left: 200px;top: -9px;">
          Functionality :

        <div class="dropdown dropdown2 col-md-3" ng-hide="GroupApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" ng-model="selectedItem"
                  ng-change="GroupFunctionality(selectedItem)"
                  ng-options="GroupFunctionality for GroupFunctionality in GroupFunctionalitys"
                  value="{{GroupFunctionality}}">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>
      </div>


      <table class="table table-bordered table-style" ng-hide="GroupTestCase">
        <thead>
        <tr>
          <th>Application</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedGroupApplication}}</td>
          <td>{{GroupApplicationNumberOfTestCases}}</td>
          <td>{{GroupApplicationFullyAutomated}}</td>
          <td>{{GroupApplicationPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style" ng-hide="GroupTestCase1">
        <thead>
        <tr>
          <th>Application/Business Capability</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedGroupApplication}}/{{selectedGroupBusiness}}</td>
          <td>{{GroupBussinessNumberOfTestCases}}</td>
          <td>{{GroupBussinessFullyAutomated}}</td>
          <td>{{GroupBussinessPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style" ng-hide="GroupTestCase2">
        <thead>
        <tr>
          <th>Application/Business Capability/Functionality</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedGroupApplication}}/{{selectedGroupBusiness}}/{{selectedGroupFunctionality}}</td>
          <td>{{GroupFunctionalityNumberOfTestCases}}</td>
          <td>{{GroupFunctionalityFullyAutomated}}</td>
          <td>{{GroupFunctionalityPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>
        <div ng-hide="GroupApplication" data-toggle="modal" data-target="#GroupAppModal" style="position: absolute;bottom: 10px;right: 339px;">
        <img src="../images/chart.jpg" title="View Chart" style="width: 50px;border-radius:50px">
        <a href="" style="font-weight: bold;color: black;" >Chart Show</a></div>

    </div>
    <div class="modal fade" id="GroupAppModal" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p><b>Group Testing Chart View</b></p>
          </div>
          <div class="modal-body" style="width: 100%;height: 230px;" >
            <div  style="background-color:gainsboro; border-radius:5px;width: 100%;float: left;" >

              <table style="margin-left: 10px;">
                <tr><td width="400px">
                  <div ng-hide="GroupApplication" google-chart chart="GroupChartObject"
                       style="width: 500px;"></div>
                </td></tr>
              </table>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-1"></div>
    <div id="group4Div" ng-class="group4GridArea"
         ng-style="{'width': group4width, 'height': group4height, 'position':group4Position, 'right': group4Right, 'top':group4Top, 'left':group4left}"
         class="group4" ng-click="showMoreGroup4()">
      <p align="center" class="group-icon"
         ng-style="{'padding-left': group4paddingleft, 'padding-top': group4paddingtop}">{{ASGNames[3].groupName}}</p>

      <p ng-hide="OverallTestCase">Total Test Cases: {{DentalnumberOfTestCases}} </p>

      <p ng-hide="OverallFullyAutomated">Automated: {{DentalFullyAutomated}} </p>

      <p ng-hide="OverallPartiallyAutomated">Manual: {{DentalPartiallyAutomated}}</p>

      <div class="row">
        <div class="col-md-3" ng-hide="DentalApplication" ng-repeat="DentalApplicationName in DentalApplicationNames">
          <button class="button" ng-click="DentalApplication1(DentalApplicationName.Application)">
            {{DentalApplicationName.Application}}
          </button>
        </div>
      </div>

      <div class="row DD-Style">

        <p ng-hide="DentalApplicationDD" class="col-md-3"> Business Capability :

        <div class="dropdown dropdown1 col-md-3" ng-hide="DentalApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" ng-model="selectedItem"
                  ng-change="DentalBussiness(selectedItem)"
                  ng-options="DentalBusinessCapability for DentalBusinessCapability in DentalBusinessCapabilitys"
                  value="{{DentalBusinessCapability}}">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>
        <p ng-hide="DentalApplicationDD" class="col-md-3" style="position: relative;left: 200px;top: -9px;">
          Functionality :

        <div class="dropdown dropdown2 col-md-3" ng-hide="DentalApplicationDD">
          <select class="btn  dropdown-toggle categorydd-style categorybtn-style" ng-model="selectedItem"
                  ng-change="DentalFunctionality(selectedItem)"
                  ng-options="DentalFunctionality for DentalFunctionality in DentalFunctionalitys"
                  value="{{DentalFunctionality}}">
            <option value="">---Please select---</option>
          </select>
        </div>
        </p>
      </div>


      <table class="table table-bordered table-style" ng-hide="DentalTestCase">
        <thead>
        <tr>
          <th>Application</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedDentalApplication}}</td>
          <td>{{DentalApplicationNumberOfTestCases}}</td>
          <td>{{DentalApplicationFullyAutomated}}</td>
          <td>{{DentalApplicationPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style" ng-hide="DentalTestCase1">
        <thead>
        <tr>
          <th>Application/Business Capability</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedDentalApplication}}/{{selectedDentalBusiness}}</td>
          <td>{{DentalBussinessNumberOfTestCases}}</td>
          <td>{{DentalBussinessFullyAutomated}}</td>
          <td>{{DentalBussinessPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-style" ng-hide="DentalTestCase2">
        <thead>
        <tr>
          <th>Application/Business Capability/Functionality</th>
          <th>Number Of Test Cases</th>
          <th>Fully Automated</th>
          <th>Partially Automated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{selectedDentalApplication}}/{{selectedDentalBusiness}}/{{selectedDentalFunctionality}}</td>
          <td>{{DentalFunctionalityNumberOfTestCases}}</td>
          <td>{{DentalFunctionalityFullyAutomated}}</td>
          <td>{{DentalFunctionalityPartiallyAutomated}}</td>
        </tr>
        </tbody>
      </table>


      <div ng-hide="DentalApplication" data-toggle="modal" data-target="#DentalAppModal" style="position: absolute;bottom: 10px;right: 430px;">
        <img src="../images/chart.jpg" title="View Chart" style="width: 50px;border-radius:50px">
        <a href="" style="font-weight: bold;color: black;" >Chart Show</a></div>


    </div>
    <div class="modal fade" id="DentalAppModal" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p><b>Dental Testing Chart View</b></p>
          </div>
          <div class="modal-body" style="width: 100%;height: 230px;" >
            <div  style="background-color:gainsboro; border-radius:5px;width: 100%;float: left;" >

              <table style="margin-left: 10px;">
                <tr><td width="400px">
                  <div ng-hide="DentalApplication" google-chart chart="DentalChartObject" style="width: 500px;"
                  ></div></td></tr>
              </table>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

</body>
</html>
